<div class="page--yellow">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-xs-4 col-xs-push-4">
        <%= link_to post.title, post_path(post) %>
      </div>
    <% end %>
  </div>
</div>
